/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.padded { padding: 1em; }
.center-text { text-align: center;}
.pointer { cursor: pointer;}
.center-flex { display: flex; align-items: center;}
.top-pad{ padding-top:1em;}
.bottom-pad{ padding-bottom:1em;}
.side-pad{ padding-left: 1em; padding-right: 1em;}